
  <div data-spy="scroll" data-target="#scroll-menu" data-offset="65" class="dashboard">
    <%= render 'partial/nav' %>
    <div class="dashboard-main">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-4 col-sm-12">
            <div class="left">
              <article>
                <header>
                  <h1>Aktiva Annonser</h1>
                </header>
                <div class="data-jobb on-off">
                  <ul>
                  <% @posts.each do |post| %>
                    <%#= link_to(content_tag('li',content_tag('span',content_tag('strong',post.title))), post_path(post)) %>
                      <li>
                        <div>
                          <%= content_tag('span',content_tag('strong', post.title)) %>
                          <span class="icon-set"><span><i class="fas fa-eye"></i> 120</span>
                            <span>
                              <i class="far fa-save"></i>
                              2</span>
                            <span>
                              <i class="fas fa-share-alt"></i>
                              3</span>
                            <span>
                              <i class="far fa-inbox"></i>
                              0</span>
                          </span>
                        </div>
                          <div>
                            <label class="switch">
                              <input type="checkbox">
                              <span class="slider round"></span>
                            </label>
                        </div>
                      </li>
                  <% end %>
                  </ul>
                </div>
                <footer>
                  <%= link_to 'Skapa annons', new_post_url, class: 'btn' %>
                </footer>
              </article>
            </div>
          </div>

          <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="right">


              <article>
                <header>
                  <h2>Välkommen MicroAA Labs AB</h2>
                </header>

                <div class="information">
                  <h3>INFORMATION</h3>
                  <p>
                    Annonser har en fast summa på 150kr/st och faktureras i slutet av avarje månad.
                    Set till att du har fyllt hela din profil annars kan du inte spapa en annons.

                    När du godkännde villkoren för att skapa ditt konto så godkånnde du även att
                    Praktill har rätten att fakturera dig utifrån hur många annonser du publicerat. </p>
                </div>
                <footer>

                  <div class="equalHWrap eqWrap">
                    <div class="equalHW eq">
                      <div class="content">
                        <p><i class="fas fa-bullhorn"></i></p>
                        <h2 class="title">Skapa Annons</h2>
                        <p class="text">Skapa annonsar i vårt enkia verktyg. <br />
                          Annonser har en fast kostnado på 150 kr/st och faktureras automatiskt
                          en gång i månden. </p>
                      </div>
                    </div>
                    <div class="equalHW eq">

                      <div class="content">
                        <p><i class="fas fa-users"></i></p>
                        <h2 class="title">Redigera Företagsinfo
                        </h2>
                        <p class="text">Som företag kräver vi att hela din profil år iiyld innan du
                          kan börja anvånda vår tjånst. </p>
                      </div>
                    </div>
                    <div class="equalHW eq">
                      <div class="content">
                        <p><i class="fas fa-comment"></i></p>
                        <h2 class="title">Förbättringsåtgärder</h2>
                        <p class="text">Vi tror att kommer äkka Praktils plattform.
                          Men om det år något du anser vi dorde förbettra så skriv gåma till oss
                          och beråtta. </p>
                      </div>
                    </div>
                  </div>

                </footer>
              </article>

            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render 'partial/footer' %>
  </div>